%thead
  %tr
    %th Title
    %th=sort_link @search, :reported_date, "Date Reported"
    %th=sort_link @search, :status, "Status"
    %th=sort_link @search, :customer_name, "Customer"
    %th=sort_link @search, :severity, "Severity"
    %th=sort_link @search, :software_version, "Version"
    %th