<%= simple_form_for(@customer, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>


<div class="form-inputs">

    <%= f.input :name, placeholder: 'Name of Client' %>

 
  
    <br>

    <%= f.submit @customer.new_record? ? "Submit" : "Edit Name", :class => 'btn btn-info' %>

</div>


<% end %>

