<%= simple_form_for(@customer, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>


<div class="form-group">

    <%= f.input :name, placeholder: 'Name of Client', :required => true %>

 
  
    <br>

    <%= f.button :submit, :class => 'btn btn-info' %>

</div>


<% end %>
<br>

