/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.tabbable {
  margin-top: 10px;
}

.customer_form {
  margin-top: 20px;
}

.panel-body {
  margin-top: 10px;
}

.customer_update_button {
  margin-left: 15px;
}

.panel-secondary {
  border-color: #0D3B69;
}

.upper-panel-heading {
  font-size: 130%;
}

.container {
  margin-bottom: 10px;
}


td.high {color: #FF0000;}
td.low {color: #00C703;}
td.medium {color: #FCEF00;}
td.new {color: #0046FC;}
td.assigned {color: #FCEF00;}
td.resolved {color: #00C703;}
td.closed {color: #00C703;}

.issue_cust_page {
  margin: 20px;
}

.panel-secondary > .panel-heading {
  color: white;
  background-color: #0D3B69;
  border-color: #0D3B69;
}
.table {
  border-radius: 5px;
}
#deployment_deploy_date {
  width: 54.8% !important;
}
#release_release_date {
  width: 55.5% !important;
}
#issue_reported_date {
  width: 55% !important;
}

.customer_panel_heading {
  width: 276px;
  float: right;
}

#search {
  width: 33% !important;
}
#customers_table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

#customers_table th .asc {
  background-image: url(/assets/up_arrow.gif);
}

#customers_table th .desc {
  background-image: url(/assets/down_arrow.gif);
}

.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }

.field.customer_form {
  margin-left: 190px;
}
thead {
  background: #e6f1f6;
}
#customers_table > tbody > tr:nth-child(1) {
background: #e6f1f6;
}

.headerdiv {
  padding: 3px;
}

.btn-nav {
  background: rgba(150, 184, 194, 0.75);
}
.navcontent {
  margin-top: 10px;
  padding-left: 7px;
}
.link_box {
  background: blue;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
	position:relative;
    left:37%;
}

#release_release_date {
  width: 18%;
}


.navbar {
  margin-top: 7px;

}

.nav_lang {
  position: absolute;
  top: 0px;
  right: 20px;
  margin-top: 10px;

}

.form_divider {
  width:60%;
  margin-left: 0px;
  margin-right: auto;
}

div.dataTables_paginate {
float: right;
margin: 0;
margin-right: 85px;
}
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    tfoot {
    display: table-header-group;
}

